.reservation-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Öğeleri sağa hizalar */
  width: 90%; /* Container'ın genişliğinin 90'ını kaplar */
}

.userImg {
  width: 10%; /* Resmin container'ın genişliğinin 15'ini kaplamasını sağlar */
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: row; /* Öğeleri yan yana hizalamak için */
  align-items: center; /* Öğeleri dikey hizalamak için */
  transition: transform 0.2s; /* Yumuşak geçiş efekti için */
}

.userImg:hover img {
  transform: scale(1.1); /* Fare üzerine gelindiğinde resmi biraz büyüt */
}

.userImg img {
  width: 100%;
}

.userName h3 {
  margin-left: 10px; /* Resmin sağında biraz boşluk bırakır */
}




h2 {
  text-align: center;
}

.form-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

.res-button-container {
  flex: 1;
  text-align: right;
  
}

#create-reservation-btn {
  width: 100%; /* Tam genişlik */
  height: 100%; /* Tam genişlik */
  max-width: 100%; /* Maksimum genişlik */
  max-height: 100%; /* Maksimum genişlik */
  background-color: #45a049; /* Renk #45a049 */
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  margin: 4px;
  color: #fff;
  border-radius: 4px;
}
#create-reservation-btn:hover {
  background-color: #215223;
}

label {
  display: block;
  margin-bottom: 5px;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}
select option:checked {
  background-color: #45a049;
  color: #fff;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #45a049;
}

th {
  background-color: #f2f2f2;
}

.button-container {
  text-align: center;
}

.update-button {
  padding: 8px 16px;
  margin: 4px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #45a049; /* Renk #45a049 */
  color: #fff;
  border: none;
  width: 100%; /* Tam genişlik */
  max-width: 100%; /* Maksimum genişlik */
  transition: background-color 0.3s; /* Arka plan renginde yumuşak geçiş */
}

.update-button:hover {
  background-color: #215223;
}

.cancel-button {
  padding: 8px 16px;
  margin: 4px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #45a049; /* Renk #45a049 */
  color: #fff;
  border: none;
  width: 100%; /* Tam genişlik */
  max-width: 100%; /* Maksimum genişlik */
  transition: background-color 0.3s;
}

.cancel-button:hover {
  background-color: #8a1616;
}




.pagination-container {
  display: flex;
  justify-content: center;
}

.pagination-button {
  padding: 5px 10px;
  margin: 2px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  cursor: pointer;
}

.pagination-button:hover {
  background-color: rgb(118, 118, 118); /* Farenin üzerine gelindiğinde kırmızı yap */
  color: white;
}

.pagination-button.active {
  background-color: #4CAF50;
  color: white;
}

